<template>
  <div id="footer">
    <div class="hr"></div>

    <div :class="containerClass">
      <p>
        <img :src="logoUrl" alt="" class="icon">
        <span>
          <strong>Vuebnb</strong>. A full-stack Vue.js and Laravel demo app
        </span>
      </p>
    </div>

  </div>
</template>

<script>
export default {
  computed: {
    containerClass() {
      // this.$route.name is either 'home' or 'listing'
      return `${this.$route.name}-container`;
    },
    logoUrl() {
      return `${window.cdn_url || ''}images/logo_grey.png`;
    }
  }
}
</script>



<style lang="scss" scoped>
  #footer {
    margin-bottom: 3em;

    .icon {
      height: 23px;
      display: inline-block;
      margin-bottom: -6px;
      padding-right: 6px;
    }

    p {
      font-size: 15px;
      color: #767676;
      display: flex;

    }
  }

  .hr {
    border-bottom: 1px solid #dbdbdb;
    margin: 3em 0;
  }
</style>
