<template>
  <div class="listing-save" @click.stop="toggleSaved()">
      <button v-if="button">
        <i :class="classes"></i>
        {{ message }}
      </button>
       <i v-else :class="classes"></i>
  </div>
</template>

<script>
export default {
  props: ['id', 'button'],
  methods: {
      toggleSaved() {
          this.$store.dispatch('toggleSaved', this.id);
      }
  },
  computed: {
      isListingSaved() {
          return this.$store.state.saved.find(saved => saved === this.id);
      },
      classes() {
          let saved = this.isListingSaved;
          return {
              'fa': true,
              'fa-lg': true,
              'fa-heart': saved,
              'fa-heart-o': !saved
          }
      },
      message() {
          return this.isListingSaved ? 'Saved' : 'Save';
      }
  }
}
</script>

<style lang="scss" scoped>
    .listing-save {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;

        i {
            padding-right: 4px;
        }

        button .fa-heart-o {
            color: #808080;
        }

        .fa-heart-o {
            color: #ffffff;
        }

        .fa-heart {
            color: #ff5a5f;
        }
    }
</style>


