<template>
  <div id="saved" class="home-container">
      <h2>Saved Listings</h2>

    <div v-if="listings.length" class="listing-summaries">
        <listing-summary
            v-for="listing in listings"
            :listing="listing"
            :key="listing.id"
        ></listing-summary>
    </div>
    <div v-else>No saved listings.</div>

  </div>
</template>

<script>
import ListingSummary from './ListingSummary.vue';

export default {
    computed: {
        listings() {
            return this.$store.state.listing_summaries.filter(
                item => this.$store.state.saved.indexOf(item.id) > -1
            );
        }
    },
    components: {
        ListingSummary
    }
}
</script>

<style lang="scss" scoped>
    .listing-summaries {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        overflow: hidden;

        .listing-summary {
            padding-bottom: 30px;
        }

        & > .listing-summary {
            margin-right: 15px;
        }
    }
</style>

